<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
	<form action="delete_student" method="POST">
		Name:
		<input type="text" name="name">
		<button type="submit">Delete</button>
	</form>
</body>
</html>